<a href="https://colab.research.google.com/github/Anna2rx/Vorobeva_on_GeekBrains/blob/Python_lesson4/%D0%94%D0%97_4_%D0%9F%D0%BE%D0%BB%D0%B5%D0%B7%D0%BD%D1%8B%D0%B5_%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Реализовать скрипт, в котором должна быть предусмотрена функция расчета заработной платы сотрудника. В расчете необходимо использовать формулу: (выработка в часах * ставка в час) + премия. Для выполнения расчета для конкретных значений необходимо запускать скрипт с параметрами.

In [ ]:
# нужно затустить через коммандную строку (не в colab)
from sys import argv

def salary_total(output_hours, rate_hour, bonus):
    result = (output_hours * rate_hour) + bonus
    return result

script_name = argv[0]
output_hours, rate_hour, bonus, salary = map(float, argv[1:])

salary = salary_total(output_hours, rate_hour, bonus)

print("Имя скрипта: ", script_name)
print("Выработка в часах: ", output_hours)
print("Ставка в час: ", rate_hour)
print("Размер премии: ", bonus)
print("Заработная плата сотрудника итого", salary)

ValueError: ignored

2. Представлен список чисел. Необходимо вывести элементы исходного списка, значения которых больше предыдущего элемента.
Подсказка: элементы, удовлетворяющие условию, оформить в виде списка. Для формирования списка использовать генератор.
Пример исходного списка: [300, 2, 12, 44, 1, 1, 4, 10, 7, 1, 78, 123, 55].
Результат: [12, 44, 4, 10, 78, 123].

In [ ]:
my_list = [300, 2, 12, 44, 1, 1, 4, 10, 7, 1, 78, 123, 55]
new_list = [my_list[i] for i in range(1, len(my_list)) if my_list[i] > my_list[i-1]]
print(new_list)

[12, 44, 4, 10, 78, 123]

3. Для чисел в пределах от 20 до 240 найти числа, кратные 20 или 21. Необходимо решить задание в одну строку.
Подсказка: использовать функцию range() и генератор.

In [ ]:
list_1 = [el for el in range(20,240) if el%20==0 or el%21==0]
print(list_1)

[20, 21, 40, 42, 60, 63, 80, 84, 100, 105, 120, 126, 140, 147, 160, 168, 180, 189, 200, 210, 220, 231]

4. Представлен список чисел. Определить элементы списка, не имеющие повторений. Сформировать итоговый массив чисел, соответствующих требованию. Элементы вывести в порядке их следования в исходном списке. Для выполнения задания обязательно использовать генератор.
Пример исходного списка: [2, 2, 2, 7, 23, 1, 44, 44, 3, 2, 10, 7, 4, 11].
Результат: [23, 1, 3, 10, 4, 11]

In [ ]:
list_given = [2, 2, 2, 7, 23, 1, 44, 44, 3, 2, 10, 7, 4, 11]
list_2 = [el for el in list_given if list_given.count(el)==1]
print(list_2)

[23, 1, 3, 10, 4, 11]

5. Реализовать формирование списка, используя функцию range() и возможности генератора. В список должны войти четные числа от 100 до 1000 (включая границы). Необходимо получить результат вычисления произведения всех элементов списка.
Подсказка: использовать функцию reduce().

In [8]:
from functools import reduce
list_3 = [el for el in range(100,1001) if el%2==0]
def my_func(prev_el, el):
    return prev_el * el
print(reduce(my_func, list_3))

11663575674444359823002008139390746528142707402328361705647495301216245827892256323421573853031635648105175857107321864360366071385039128549679496343675509640183219826717346573458260381851930244150425562315833417515264123698581740276921937117732298873364203269398167251131992557619396626253824845619285980851485012131859200089180731617159967796785692496658820266554970195579987101761437467345295469560091019643416890744175485355715583034412689664621367823158491721734017238669568797130683826947437814864890599291484009747561514288528353178159298856645624289518581586947168677504742711452824976368290519747367284033226821443792754573564848344600041433089899538479032717299413920051538113896509134682791976736868238046387230383008696853107977931851651379555533347652931008271572588724198961970056163028633888796670948358527288343719100865852117339478785474064397937004993302565523495403857150309972891503340949896943795594807214141508464167055846685872109706922589562538698747726222566785521882450614299594376824656706451033378744188256788426310583732611392640652066952551824890922829689995132928000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [3]:
from functools import reduce
list_3 = [el for el in range(100,1001) if el%2==0]
print(reduce(lambda x, y: x*y, list_3))

11663575674444359823002008139390746528142707402328361705647495301216245827892256323421573853031635648105175857107321864360366071385039128549679496343675509640183219826717346573458260381851930244150425562315833417515264123698581740276921937117732298873364203269398167251131992557619396626253824845619285980851485012131859200089180731617159967796785692496658820266554970195579987101761437467345295469560091019643416890744175485355715583034412689664621367823158491721734017238669568797130683826947437814864890599291484009747561514288528353178159298856645624289518581586947168677504742711452824976368290519747367284033226821443792754573564848344600041433089899538479032717299413920051538113896509134682791976736868238046387230383008696853107977931851651379555533347652931008271572588724198961970056163028633888796670948358527288343719100865852117339478785474064397937004993302565523495403857150309972891503340949896943795594807214141508464167055846685872109706922589562538698747726222566785521882450614299594376824656706451033378744188256788426310583732611392640652066952551824890922829689995132928000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

6. Реализовать два небольших скрипта:
а) итератор, генерирующий целые числа, начиная с указанного,
б) итератор, повторяющий элементы некоторого списка, определенного заранее.
Подсказка: использовать функцию count() и cycle() модуля itertools. Обратите внимание, что создаваемый цикл не должен быть бесконечным. Необходимо предусмотреть условие его завершения.
Например, в первом задании выводим целые числа, начиная с 3, а при достижении числа 10 завершаем цикл. Во втором также необходимо предусмотреть условие, при котором повторение элементов списка будет прекращено.

In [1]:
from itertools import count, cycle
#a
start = int(input('начало '))
stop = int(input('завершение '))
for el in count(start):
      if el > stop:
          break
      else:
          print(el)

начало3
завершение10
3
4
5
6
7
8
9
10

In [22]:
# б вариант решения с циклом for
c = 0
list_4 = list(input('Введите элементы списка через пробел ').split())
stop_1 = int(input('Введите число, на котором прекращается повторение элементов '))
for el in cycle(list_4):
    if c >= stop_1:
        break
    print(el)
    c += 1

Введите элементы списка через пробел A B C
Введите число, на котором прекращается повторение элементов 10
A
B
C
A
B
C
A
B
C
A

In [23]:
# б 2 вариант с next
s = 0
list_5 = list(input('Введите элементы списка через пробел ').split())
stop_2 = int(input('Введите число, на котором прекращается повторение элементов '))
iter = cycle(list_5)
while s < stop_2:
  print(next(iter))
  s += 1

Введите элементы списка через пробел A B C
Введите число, на котором прекращается повторение элементов 10
A
B
C
A
B
C
A
B
C
A

7. Реализовать генератор с помощью функции с ключевым словом yield, создающим очередное значение. При вызове функции должен создаваться объект-генератор. Функция должна вызываться следующим образом: for el in fact(n). Функция отвечает за получение факториала числа, а в цикле необходимо выводить только первые n чисел, начиная с 1! и до n!.
Подсказка: факториал числа n — произведение чисел от 1 до n. Например, факториал четырёх 4! = 1 * 2 * 3 * 4 = 24.

In [11]:
from math import factorial
def fact(n):
    result = 1
    for el in range(1, n+1):
        result *= el
        yield result

n = int(input())
for el in fact(n):
    print(el)

4
1
2
6
24